table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 900px;
}
h1{
    text-align: center;
    border: 3px solid black;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px;
    margin-top: 40px;
    background:linear-gradient(135deg, #ff9a9e, #fad0c4); 
    font-size: 40px; 
}
h1:hover{
    background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}
caption{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: auto;
    text-align: center;
}
th{
    background-color: rgb(145, 145, 130);
    color: rgb(235, 25, 77);
    font-weight: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}
td{
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}
tr:nth-child(even){
    background-color:rgb(253, 149, 149);
}
tr:hover{
    background-color: #c76f6f;
}
footer{
    padding: 10px;
    text-align: center ;
    border: 2px solid black;
    border-radius: 30px; 
    font-size: 30px;
    margin-left: 10px auto;
    margin-right: 10px auto;  
    margin-bottom: 10px auto;
    margin: auto;
    width: 300px; 
    margin-top: 50px; 
    background: linear-gradient(135deg, #ff9a9e, #fad0c4); ;
}
a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-decoration: none;
    color: blue;
    border: 2px solid blue;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 30px;
    border: 3px solid black;
    background:linear-gradient(135deg, #fbc2eb, #a6c1ee); ;
}
footer:hover{
   background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}
@media (max-width: 768px) {
    table, th, td {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    table {
        display: block;
        overflow-x: auto;
    }
    th, td {
        font-size: 12px;
        padding: 5px;
    }
}

